<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skymemo.artimo.dao.sec.SecUserMapper">
  <resultMap id="BaseResultMap" type="com.skymemo.artimo.entity.sec.SecUser">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="utc_available" jdbcType="TIMESTAMP" property="utcAvailable" />
    <result column="sys_remark" jdbcType="VARCHAR" property="sysRemark" />
    <result column="utc_create" jdbcType="TIMESTAMP" property="utcCreate" />
    <result column="utc_update" jdbcType="TIMESTAMP" property="utcUpdate" />
    <result column="ex_1" jdbcType="VARCHAR" property="ex1" />
    <result column="ex_2" jdbcType="VARCHAR" property="ex2" />
    <result column="ex_3" jdbcType="VARCHAR" property="ex3" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, username, nickname, password, state, utc_available, sys_remark, utc_create, utc_update, 
    ex_1, ex_2, ex_3
  </sql>
  <select id="selectByExample" parameterType="com.skymemo.artimo.entity.sec.SecUserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sec_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sec_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sec_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.skymemo.artimo.entity.sec.SecUserExample">
    delete from sec_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.skymemo.artimo.entity.sec.SecUser">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sec_user (username, nickname, password, 
      state, utc_available, sys_remark, 
      utc_create, utc_update, ex_1, 
      ex_2, ex_3)
    values (#{username,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{state,jdbcType=VARCHAR}, #{utcAvailable,jdbcType=TIMESTAMP}, #{sysRemark,jdbcType=VARCHAR}, 
      #{utcCreate,jdbcType=TIMESTAMP}, #{utcUpdate,jdbcType=TIMESTAMP}, #{ex1,jdbcType=VARCHAR}, 
      #{ex2,jdbcType=VARCHAR}, #{ex3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.skymemo.artimo.entity.sec.SecUser">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sec_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="username != null">
        username,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="utcAvailable != null">
        utc_available,
      </if>
      <if test="sysRemark != null">
        sys_remark,
      </if>
      <if test="utcCreate != null">
        utc_create,
      </if>
      <if test="utcUpdate != null">
        utc_update,
      </if>
      <if test="ex1 != null">
        ex_1,
      </if>
      <if test="ex2 != null">
        ex_2,
      </if>
      <if test="ex3 != null">
        ex_3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="utcAvailable != null">
        #{utcAvailable,jdbcType=TIMESTAMP},
      </if>
      <if test="sysRemark != null">
        #{sysRemark,jdbcType=VARCHAR},
      </if>
      <if test="utcCreate != null">
        #{utcCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="utcUpdate != null">
        #{utcUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="ex1 != null">
        #{ex1,jdbcType=VARCHAR},
      </if>
      <if test="ex2 != null">
        #{ex2,jdbcType=VARCHAR},
      </if>
      <if test="ex3 != null">
        #{ex3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.skymemo.artimo.entity.sec.SecUserExample" resultType="java.lang.Long">
    select count(*) from sec_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sec_user
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.username != null">
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.nickname != null">
        nickname = #{record.nickname,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null">
        state = #{record.state,jdbcType=VARCHAR},
      </if>
      <if test="record.utcAvailable != null">
        utc_available = #{record.utcAvailable,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sysRemark != null">
        sys_remark = #{record.sysRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.utcCreate != null">
        utc_create = #{record.utcCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.utcUpdate != null">
        utc_update = #{record.utcUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ex1 != null">
        ex_1 = #{record.ex1,jdbcType=VARCHAR},
      </if>
      <if test="record.ex2 != null">
        ex_2 = #{record.ex2,jdbcType=VARCHAR},
      </if>
      <if test="record.ex3 != null">
        ex_3 = #{record.ex3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sec_user
    set id = #{record.id,jdbcType=BIGINT},
      username = #{record.username,jdbcType=VARCHAR},
      nickname = #{record.nickname,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=VARCHAR},
      utc_available = #{record.utcAvailable,jdbcType=TIMESTAMP},
      sys_remark = #{record.sysRemark,jdbcType=VARCHAR},
      utc_create = #{record.utcCreate,jdbcType=TIMESTAMP},
      utc_update = #{record.utcUpdate,jdbcType=TIMESTAMP},
      ex_1 = #{record.ex1,jdbcType=VARCHAR},
      ex_2 = #{record.ex2,jdbcType=VARCHAR},
      ex_3 = #{record.ex3,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.skymemo.artimo.entity.sec.SecUser">
    update sec_user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="utcAvailable != null">
        utc_available = #{utcAvailable,jdbcType=TIMESTAMP},
      </if>
      <if test="sysRemark != null">
        sys_remark = #{sysRemark,jdbcType=VARCHAR},
      </if>
      <if test="utcCreate != null">
        utc_create = #{utcCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="utcUpdate != null">
        utc_update = #{utcUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="ex1 != null">
        ex_1 = #{ex1,jdbcType=VARCHAR},
      </if>
      <if test="ex2 != null">
        ex_2 = #{ex2,jdbcType=VARCHAR},
      </if>
      <if test="ex3 != null">
        ex_3 = #{ex3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.skymemo.artimo.entity.sec.SecUser">
    update sec_user
    set username = #{username,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      utc_available = #{utcAvailable,jdbcType=TIMESTAMP},
      sys_remark = #{sysRemark,jdbcType=VARCHAR},
      utc_create = #{utcCreate,jdbcType=TIMESTAMP},
      utc_update = #{utcUpdate,jdbcType=TIMESTAMP},
      ex_1 = #{ex1,jdbcType=VARCHAR},
      ex_2 = #{ex2,jdbcType=VARCHAR},
      ex_3 = #{ex3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>